* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(232, 238, 241);
  font-family: "Poppins", sans-serif;
}

section {
  height: 100vh;
}

.about {
  background-color: #c2ffd9;
}

.projects {
  background-color: #ffd371;
}

.contact {
  background-color: #9ddac6;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
}
.brand-name a {
  text-decoration: none;
  color: #e8eef1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px 0 200px;
  background-color: #1e3d58;
}

.navbar-links ul {
  display: flex;
}

.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-weight: 700;
  color: #e8eef1;
  font-size: 0.8rem;
}

.navbar-links li a:hover {
  color: #057dcd;
}

.brand-name a:hover {
  color: #057dcd;
}
.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #e8eef1;
  border-radius: 10px;
}

.intro h1,
h2 {
  color: #1e3d58;
}

.intro h2 {
  font-size: clamp(28px, 7vw, 85px);
}

.intro h3 {
  font-size: clamp(20px, 5vw, 55px);
}

.intro h1 {
  font-size: 20px;
  font-weight: 500;
}

.intro p {
  max-width: 60%;
}

.intro h3,
p {
  color: #607d8b;
}

.intro h1 {
  font-weight: 400;
  font-size: 1.2rem;
}

.intro p {
  font-size: 1.2rem;
}

.back-to-top a {
  text-decoration: none;
}

.contact {
  position: relative;
}
.back-to-top img {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 50%;
  bottom: 0;
}

.parent-intro {
  display: flex;
  justify-content: center;
}

.intro {
  padding: 5rem;
  width: 80rem;
  padding-top: 15.6rem;
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .intro {
    padding: 5rem;
    width: 80rem;
  }
}
